

/* --------------- reset css --------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

label {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand, 
.navbar {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  white-space: normal;
  max-height: 100%;
}

.breadcrumb {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.btn:focus {
  box-shadow: none;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

dl, ol, ul {
  margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=checkbox] {
  cursor: pointer;
}

/* --------------- kết thúc reset css --------------- */

.page-wrapper {
  display: none;
}

.loading-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10000;
}

.loading {
  position: absolute;
  left: 49%;
  left: calc(50% - 24px);
  top: 49%;
  top: calc(50% - 24px);
}

.loading-wrapper .loading__text {
  position: absolute;
  font-size: 18px;
  font-weight: bold !important;
  left: 49%;
  left: calc(50% - 115px);
  top: 56%;
  top: calc(57% - 24px);
}

*:not(i, .close, h1) {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s;
}

.bold-font {
  font-weight: bold !important;
}

h1, h1.text-center a {
  font-size: 32px !important;
  font-weight: bold !important;
}

td .btn {
  padding-left: 0px;
}

#index__modal .modal-content {
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgb(255 255 255 / 40%);
}

#index__modal .btn {
  min-width: 110px;
}

tbody tr {
  transition: all 0.2s;
}

tbody tr:hover {
  box-shadow: 3px 3px 8px #888888;
  transform: scaleX(1.01);
}

tbody tr:hover .checkbox-wrapper {
  transform: translate(5px, 0px);
}

.main-form {
  padding: 0px;
  margin-top: 30px;
}

.main-form .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

table .btn {
  padding-top: 0px;
  padding-bottom: 0px;
}

table {
  position: relative;
}

table input {
  position: relative;
  left: 13px;
}

label:not(.gender-label) {
  width: 10%;
  margin: 0px;
}

label span {
  color: red;
}

.gender-label, .gender-input {
  margin: 0px;
  cursor: pointer;
}

.gender-label:nth-child(2), .gender-label:nth-child(4) {
  padding: 8px 10px 8px 0px;
}

.gender-label:nth-child(4) {
  margin-left: 30px;
}

.main-form input:not([type=radio]) {
  width: 90%;
  height: 40px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.btn--delete:hover {
  color: rgb(105, 0, 0) !important;
}

th:nth-child(5) {
  width: 250px;
  max-width: 250px;
}

th:first-child {
  width: 70px;
}

.table td, .table th {
  vertical-align: middle;
}

table input {
  width: 22px;
  height: 22px;
  position: relative;
  top: 4px;
}

.thead-dark th:nth-child(5) {
  cursor: pointer;
  user-select: none;
}

.search-area {
  width: 50%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px auto 0px 0px
}

.search-area input {
  width: 100%;
  border: 1px solid #bbbbbb;
  margin-right: 20px;
  border-radius: 8px;
}

.search-input:focus {
  box-shadow: none;
  border-color: #000;
}

/* .search-area .input-group {
  width: 80%;
  border: 2px solid #bbbbbb;
  border-radius: 8px;
}
 */

/* .search-area .input-group-text {
  padding-right: 0px;
  background-color: transparent;
  border: none;
  border-radius: 8px;
} */

.search-input {
  background-color: transparent;
  border: none;
  border-radius: 8px;
}

.search-submit {
  border-radius: 8px;
  height: 40px;
  width: 60px;
}

.search__result {
  width: 100%;
  margin: 30px 0px;
  font-size: 18px;
}

.page-link {
  min-width: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px !important;
  font-weight: bold !important;
  cursor: pointer;
  color: black;
  border-color: #bbbbbb;
}

.modal-sm {
  max-width: 230px;
}

.choose-page__input {
  width: 50px;
  padding-left: 10px;
}

.page-link:hover, .page-item.active .page-link {
  background-color: #000;
  color: #fff;
}

.page-item.active .page-link {
  border-color: #bbbbbb;
}

.page-item.btn {
  border-radius: unset;
  padding: 0px;
  border: none;
}

.custom-pagination {
  width: 50%;
  max-width: 380px;
}

.custom-pagination__item {
  background-color: #f1f1f1;
  width: 40px;
  height: 40px;
  font-size: 22px !important;
  padding: 0px 5px;
}

.custom-pagination__item:hover {
  background-color: #000;
  color: #fff;
}



.index-wrapper {
  max-width: 400px;
  margin-top: 100px;
}

.index-wrapper .input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  height: 40px;
}

.index-wrapper .input-group label {
  width: auto;
}

.index-wrapper input {
  padding-left: 10px;
  height: 100%;
  width: 75%;
}

.login-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  justify-content: center;
  align-items: flex-start;
}

.login-modal__body {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 1200px) {
  body {
    max-width: calc(100vw - 17px);
  }

  body.modal-open {
    padding-right: 0px !important;
  }

  .btn--add {
    margin-left: 77px;
  }
}