
doctype html
head
  title Đăng nhập
  
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous')

  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' integrity='sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l' crossorigin='anonymous')

  link(rel="stylesheet" href="index.css")

body

  .index-wrapper.flex-column.justify-content-center.align-items-center.mx-auto 

    h1.text-center.mb-4 
      a(href="index.html") Đăng nhập
    
    form.login-form.d-flex.flex-column.align-items-center(action="")
      .input-group
        label(for="email-input") Email
        input#email-input(type="text" placeholder="test")
      .input-group
        label(for="password-input") Mật khẩu
        input#password-input(type="text" placeholder="123")
      .input-group.d-flex.justify-content-center
        a.btn.btn-success.login-confirm Xác nhận
    
    .projects
      p.mb-3 Các project khác của 
        a.text-primary(href="https://github.com/ducnt444/") tôi:  

      ul 
        li.d-block.mx-auto.mt-1 
          a.text-primary(href="https://journey-card-game.herokuapp.com/") - Journey - the card game: pet project, early access

        li.d-block.mx-auto.mt-1
          a.text-primary(href="https://ducnt444.github.io/halo/") - Halo: website tĩnh chủ đề bán máy ảnh

  .login-modal 
    .login-modal__body
      .login-modal__text.text-center 
        .spinner-border
      button.login-modal__cancel.btn.btn-success.login-confirm--fail.mt-4(type="button") Xác nhận

  script(src='https://kit.fontawesome.com/d8c5e3f38e.js' crossorigin='anonymous')

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js')

  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js' integrity='sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns' crossorigin='anonymous')

  script(src="script.js")

  script.

    function hideModal() {
      setTimeout(() => { 
        $(".login-modal").removeClass("modal--active");
        $(".login-modal__text").html('<div class="spinner-border"></div>')
        $(".login-modal__cancel").css("display", "none")
        }, 1500)
    }

    function processToIndex() {
      setTimeout(() => { 
        location.replace("index.html");
        }, 1500)
    }

    $(".login-confirm--fail").click(()=>{
      $(".login-modal").removeClass("modal--active");
    })

    $(".login-confirm").click(() => {
      let emailInput = $("#email-input").val()
      let passwordInput = $("#password-input").val()
      $(".login-modal").addClass("modal--active");

      $.ajax({
        url: API_URL + "/login",
        method: "POST",
        data: {"email": emailInput, "password": passwordInput},
        error: () => {
          $(".login-modal__text").html("Tài khoản hoặc mật khẩu chưa đúng")
          $(".login-modal__cancel").css("display", "block")
          hideModal()
        },
        success: (response)=> {

          $(".login-modal__cancel").css("display", "none")
          $(".login-modal__text").html("Đăng nhập thành công <br> <span class='my-2 d-block'> Bạn sẽ được chuyển về trang chủ </span> <br> <span class='spinner-border'></span>")
          
          localStorage.setItem("active-user-id", response.id)
          localStorage.setItem("active-user-name", response.name)
          localStorage.setItem("changeable-list-token", response.token)

          console.log( "Response id: " + typeof(response.id) + " " + response.id)
          console.log( "Response name: " + typeof(response.name) + " " + response.name )
          console.log( "Response token: " + typeof(response.token) + " " + response.token )
          console.log("----------------")
          console.log( "LocalStorage active-user-id: " + typeof(localStorage.getItem("active-user-id")) + " " + localStorage.getItem("active-user-id") )
          console.log( "LocalStorage active-user-name: " + typeof(localStorage.getItem("active-user-name")) + " " + localStorage.getItem("active-user-name") )

          processToIndex()
        }
      })
    })

      

    
            